.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}



.weather-card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: purple;
  background-image: url(./img/sun2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
 
  color: white;
  
  h2{
    margin: 0;
    font-size: 30px;
    text-shadow: 2px 2px black;
  }

  h1{
    margin: 0;
    font-size: 50px;
    text-shadow: 2px 2px black;
    font-weight: 900;
    background-color: rgba(255, 255,255 , 0.2);
   

  }

  .temperature{
    margin: 0;
    font-size: 50px;
    text-shadow: 2px 2px black;
    font-weight: 900;
    background-color: rgba(255, 255,255 , 0.2);
   

  }

  input{
    line-height: 20px;
    border: 2px solid black;
  }

  button{
    margin-top: 10px;
    line-height: 30px;
  }

  .temp{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    background-color: none;
    color:white;
    // filter: opacity(0.5);
    
    
    p{
      padding: 10px;
      color:rgb(255, 255, 255);
      font-size: 40px;
      font-family: 'Roboto';
      background-color: rgb(7, 14, 14 , 0.6);
      // filter: opacity(0.5);
      
      
    }

    

  }
}

